.formContact {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px solid rgb(18, 110, 18);
}

.formDiv {
  margin-bottom: 15px;
}

.formLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.formInput:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.formError {
  color: #ff4d4f;
  margin-top: 5px;
}

.formButton {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.formButton:hover {
  background-color: #45a049;
}

.formButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
